input {
	color:#00ff00;
	background-color:green;
	border-color:#00fff2;
}

hr {
	color:#00ff00;
}

p,tr,td,select,option {
	color:#00ff00;
	border-color:#00fff2;
}

option,select {
	background-color:green;
}

body {
	background-image:url('bodybackground.png');
}