table#configuration {
	margin-top:10%;
}

td {
	opacity:0.1;
}

.nofade {
	opacity:1;
}

.scroll
{
	overflow:auto;
	height:60%;
	opacity:0.1;
}

.input_box {
	width:80px;
}

.bold {
	font-weight:bold; 
	color:black;
}

.long_width {
	width:1000px;
}

.medium {
	width:80px;
}

.little {
	width:20px;
}

.target {
	background-color:deepskyblue;
}
.del {
	display:none;
}
/*
input,textarea {
	color:#00ff00;
	background-color:green;
	border-color:#00fff2;
}

hr {
	color:#00ff00;
}

p,tr,td,select,option,textarea {
	color:#00ff00;
	border-color:#00fff2;
}

option,select {
	background-color:green;
}

body {
	background-image:url('bodybackground.png');
}
*/